.layout-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 300px auto;

  :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  :last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .header-wrapper {
    background-color: #A67C00;
  }

  .sidbar-wrapper {
    background-color: #FFD447;
  }

  .content-wrapper {
    grid-template-columns: 30% 70%;
    background-color: #ffffff;
  }

  .footer-wrapper {
    background-color: #BF9B30;
  }
}